<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
 	<display-name>ocs</display-name>
 	
 	<welcome-file-list>
    	<welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <filter>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<filter-class>org.apache.myfaces.webapp.filter.ExtensionsFilter</filter-class>
	    <init-param>
	        <param-name>uploadMaxFileSize</param-name>
	        <param-value>20m</param-value>    
	    </init-param>
	</filter>
	
	<filter-mapping>
	    <filter-name>MyFacesExtensionsFilter</filter-name>	    
	    <servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
	
	<filter-mapping>
    	<filter-name>MyFacesExtensionsFilter</filter-name>
    	<url-pattern>/faces/myFacesExtensionResource/*</url-pattern>
	</filter-mapping>
    

	<!-- Serwlet niezbedny do uruchomienia silnika jsf -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    
    <!-- Serwlet generujacy plik jnlp -->
    <servlet>
    	<description></description>
    	<display-name>JnlpDownloadServlet</display-name>
    	<servlet-name>JnlpDownloadServlet</servlet-name>
    	<servlet-class>org.pg.eti.kask.ont.web.servlet.JnlpDownloadServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
    	<servlet-name>JnlpDownloadServlet</servlet-name>
    	<url-pattern>/pages/user/ocs-gui.jnlp</url-pattern>
  	</servlet-mapping>
    
    <!-- Mapowanie mime-type dla jnlp -->
    <mime-mapping>
    	<extension>jnlp</extension>
    	<mime-type>application/x-java-jnlp-file</mime-type>
  	</mime-mapping>
  
</web-app>
